{% extends 'base.html.twig' %}

{% block title %}Affichage{% endblock %}

{% block body %}
<table class="table">
  <thead>
    <tr>
        <th>#</th>
      <th scope="col"><i class="fa-solid fa-otter"></i>{{ equipes[1].surnom }}</th>
      <th scope="col"><i class="fa-solid fa-dragon"></i>{{ equipes[2].surnom }}</th>
      <th scope="col"><i class="fa-solid fa-kiwi-bird"></i>{{ equipes[3].surnom }}</th>
      <th scope="col"><i class="fa-solid fa-hippo"></i>{{ equipes[0].surnom }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Points</th>
      <th>{{ equipes[1].points }}</th>
      <td>{{ equipes[2].points }}</td>
      <td>{{ equipes[3].points }}</td>
      <td>{{ equipes[0].points }}</td>
    </tr>
    <tr>
      <th><i class="fa-solid fa-otter"></i></th>
      <th>+3</th>
      <td>princesse+1 / couleur+0 / squelette+0 / antilope+2</td>
      <td>couleur+0 / squelette+0 / photocopieuse+0 / douze+0 / croc+0</td>
      <td>princesse+1 / couleur+0 / squelette+0 / transport+0</td>

    </tr>
    <tr>
      <th><i class="fa-solid fa-dragon"></i></th>
      <td>Applaudissement+0 / cube+0 / botte+0 / croc+1 /sarbacane+2</td>
      <td>+3</td>
      <td>applaudissement+0 / cube+0 / botte+0 / veterinaire+0</td>
      <td>applaudissement+0 / cube+0 / botte+0 / croc+1 / antilope+0</td>
    </tr>
    <tr>
      <th><i class="fa-solid fa-kiwi-bird"></i></th>
      <th>cerf+0 / relier+0 / sauvegarder+0 / scène+0</th>
      <th>cerf+0 / relier+0 / sauvegarder+0 / scène+0</th>
      <td>+0</td>
      <th>cerf+0 / relier+0 / sauvegarder+0 / scène+0</th>
    </tr>
    <tr>
      <th><i class="fa-solid fa-hippo"></i></th>
      <th>veterinaire+0 / puissance+0 / cintre+1</th>
      <th>veterinaire+0 / puissance+0 / cintre+1</th>
      <th>veterinaire+0 / puissance+0</th>
      <td>+1</td>
    </tr>
  </tbody>
</table>

{% endblock %}